

/*******************************************************************************
MeyerWeb Reset
*******************************************************************************/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*******************************************************************************
Theme Styles
*******************************************************************************/
body {
  background: #eceaea;
}

.hb-text-right {
  text-align: right !important;
}

.hb-right {
  float: right !important;
}

/***** GRID *****/
.hb-row {
  margin: 0 auto;
  padding: 0;
  max-width: 62.5rem;
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.hb-row:before, .hb-row:after, .hb-row .hb-row:before, .hb-row .hb-row:after {
  content: "";
  display: table;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.hb-row:after {
  clear: both;
}

.hb-columns {
  padding: 0 .9375em;
  margin: 0;
  float: left;
  position: relative;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.hb-columns + .hb-columns:last-child {
  float: right;
}

.hb-medium-6 {
  width: 50%;
}

/***** MOBILE HEADER/NAV *****/
/***** TOP BRANDING *****/
#hb-header {
  margin: 0 auto;
  max-width: 62.5rem;
  width: 100%;
  background: transparent;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  box-shadow: none;
}
#hb-header:before, #hb-header:after {
  content: "";
  display: table;
}
#hb-header:after {
  clear: both;
}

.hb-top-branding {
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  width: 50%;
  float: left;
  margin: 0.75rem 0 0;
}

.hb-top-branding .hb-columns {
  padding-right: 0;
  padding-left: 0;
}

.hb-top-branding h1 {
  color: #442e27;
  font-size: 1.3125rem !important;
  margin-top: .25em !important;
  margin-right: .25em;
  margin-bottom: 0;
  padding: 0;
  line-height: 1.4;
  font-family: "museo-sans", sans-serif;
  font-weight: bold;
  font-style: normal;
  text-rendering: optimizeLegibility;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.hb-top-branding h1 a {
  color: #442e27;
  text-decoration: none;
}

.hb-top-branding img {
  vertical-align: middle;
  display: inline-block;
  max-width: 100%;
  height: auto;
  -ms-interpolation-mode: bicubic;
  border: 0;
}

/***** TOP BAR NAV *****/
.hb-navigation {
  margin-top: 1rem;
}

.hb-contain-to-grid {
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.hb-contain-to-grid .hb-top-bar {
  margin: 0 auto;
  margin-bottom: 0;
  max-width: 62.5rem;
  overflow: visible;
  position: relative;
  line-height: 2.25rem;
  height: 2.25rem;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.hb-top-bar:before, .hb-top-bar:after {
  content: "";
  display: table;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.hb-top-bar:after {
  clear: both;
}

.hb-top-bar .hb-title-area {
  float: left;
  margin: 0;
  position: relative;
  list-style: none;
  line-height: 1.2;
}

.hb-top-bar .hb-name {
  font-size: 16px;
  height: 2.25rem;
  margin: 0;
}

.hb-top-bar .hb-toggle-topbar.hb-menu-icon {
  margin-top: -16px;
  top: 50%;
  display: none;
  position: absolute;
  right: 0;
}

.hb-top-bar .hb-toggle-topbar.hb-menu-icon a {
  color: #442e27;
  height: 34px;
  padding: 0 2.8125rem 0 1.25rem;
  position: relative;
  display: block;
  line-height: 33px;
  font-size: 0.8125rem;
  font-weight: 500;
  text-transform: uppercase;
}

.hb-top-bar-section {
  text-align: center;
  left: 0 !important;
  position: relative;
  width: auto;
  display: block;
  -webkit-transition: left 300ms ease-out;
  -moz-transition: left 300ms ease-out;
  transition: left 300ms ease-out;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.hb-top-bar-section .hb-has-form .hb-button {
  font-size: 1rem;
  margin-top: 0;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  background: #db8629;
  color: #fff;
  height: 2.25rem;
  position: relative;
  top: 0rem;
  font-weight: 500;
  transition: background-color 300ms ease-out;
}
.hb-top-bar-section .hb-has-form .hb-button:hover {
  background: #b26b1e;
}

.hb-top-bar-section ul {
  margin: 0 .625rem;
  display: inline-block;
  float: none !important;
  height: auto !important;
  width: auto;
  padding: 0;
  font-size: 16px;
  list-style: none;
  line-height: 1.2;
  font-family: "museo-sans", sans-serif;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.hb-top-bar-section ul:first-child {
  margin-left: 0;
}

.hb-top-bar-section ul li {
  margin: 0;
  float: left;
  background: #fff;
  padding: 0;
  line-height: 1.2;
  display: list-item;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.hb-top-bar-section ul li:hover a {
  color: #db8629;
}
.hb-top-bar-section ul li .hb-js-generated {
  display: none;
}

.hb-top-bar-section li a {
  background: #fff;
  line-height: 2.25rem;
  padding: 0 1.25rem;
  font-size: 1rem;
  text-decoration: none;
  display: block;
  font-family: "museo-sans", sans-serif;
  font-weight: 500;
  width: 100%;
  color: #442e27;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.hb-top-bar-section .hb-has-dropdown {
  position: relative;
  margin: 0;
}

.hb-top-bar-section .hb-dropdown {
  right: auto;
  left: 0;
  top: auto;
  margin-right: 0;
  background: transparent;
  min-width: 100%;
  position: absolute !important;
  z-index: 99;
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  width: 1px;
  display: block;
  padding: 0;
}

.hb-top-bar-section .hb-has-dropdown:hover .hb-dropdown {
  clip: auto;
}
.hb-top-bar-section .hb-has-dropdown:hover .hb-dropdown a {
  color: #442e27;
}
.hb-top-bar-section .hb-has-dropdown:hover .hb-dropdown li:hover a {
  background: #222;
  color: #db8629;
}

.hb-top-bar-section .hb-dropdown li {
  width: 100%;
  height: auto;
  margin: 0;
  float: left;
}

.hb-top-bar-section .hb-dropdown li a {
  background: #fff;
  color: #442e27;
  line-height: 2.24rem;
  padding: 0 1.25rem;
  font-weight: 300;
  white-space: nowrap;
}

.hb-top-bar-section .hb-has-dropdown > a:after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border: inset 5px;
  border-color: rgba(68, 46, 39, 0.6) transparent transparent transparent;
  border-top-style: solid;
  margin-top: -2.5px;
  top: 1.125rem;
  position: absolute;
  right: 0;
  margin-right: 1.25rem;
}

.hb-top-bar-section .hb-has-dropdown > a {
  padding-right: 2.5rem !important;
}

/***** FOOTER *****/
#hb-footer {
  height: 5.3125rem;
  position: relative;
  margin: 0 auto;
  margin-top: 3.125rem;
  margin-bottom: 1.875rem;
  text-align: left;
  padding: 0;
  color: #442e27;
  width: 100%;
  max-width: 62.5rem;
  cursor: auto;
  font-family: museo-sans, sans-serif;
  font-size: 100%;
  font-style: normal;
  font-weight: 300;
  line-height: 1.5;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#hb-footer:before, #hb-footer:after {
  content: "";
  display: table;
}

#hb-footer:after {
  clear: both;
}

#hb-footer p {
  font-size: .75rem;
  text-transform: none;
  font-weight: normal;
  margin: .3125rem 0 0;
  line-height: 1.2;
  text-rendering: optimizeLegibility;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
#hb-footer p a {
  color: #442e27;
}

#hb-footer sup {
  top: -.5em;
  font-size: 40%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.hb-copyright {
  position: relative;
  padding-left: .9375rem;
  padding-right: .9375rem;
  width: 33.333333%;
  right: 66.666667%;
  left: auto;
  float: left;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.hb-social-links {
  position: relative;
  padding-left: .9375rem;
  padding-right: .9375rem;
  width: 66.666667%;
  left: 33.333333%;
  right: auto;
  float: left;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.hb-footer .hb-inline-list {
  float: right;
  margin-left: -1.375rem;
  margin: 0 auto 1.0625rem auto;
  padding: 0;
  list-style: none;
  overflow: hidden;
  display: block;
  line-height: 1.2;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.hb-footer .hb-inline-list > li {
  margin: 0;
  margin-left: 0.625rem;
  float: left;
  display: block;
  line-height: 1.2;
  padding: 0;
  list-style: none;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.hb-footer .hb-inline-list > li > * {
  display: block;
}

.hb-footer .hb-inline-list > li > a {
  color: #db8729;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 15px;
  transition: background-color 300ms ease-out;
}
.hb-footer .hb-inline-list > li > a:hover {
  color: #bf7320;
}

.hb-footer .hb-inline-list li:nth-child(n+4) a {
  background: #db8629;
  color: #fff;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  margin: .125rem 0 0;
  padding: .5625rem 0.625rem 0.5rem;
  font-weight: 300;
  transition: background-color 300ms ease-out;
}
.hb-footer .hb-inline-list li:nth-child(n+4) a:hover {
  color: #fff;
  background: #bf7320;
}

.hb-show-for-small-only {
  display: none;
}

.hb-fa-3x {
  font-size: 40px;
}

/***** Media Queries *****/
@media only screen and (max-width: 56.25em) {
  .hb-small-12 {
    width: 100% !important;
    float: none !important;
  }

  .hb-top-branding {
    width: 100%;
    float: none;
    margin: .75rem auto;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  .hb-top-branding h1 {
    font-size: 16px !important;
    text-align: center !important;
  }

  .hb-top-branding img {
    max-height: 3rem;
    float: none !important;
    display: block;
    margin: 0 auto;
  }

  .hb-navigation {
    display: none;
  }

  .hb-social-links,
  .hb-copyright {
    text-align: center;
    margin: .625rem 0;
    width: 100%;
    float: none;
    padding: 0;
    left: 0;
  }

  .hb-footer .hb-inline-list {
    display: inline-block;
    margin: 0 auto;
    float: none;
  }

  .hb-footer .hb-inline-list li:nth-child(n+4) a {
    background: transparent;
    box-sizing: border-box;
    display: block;
    margin: 0;
    padding: 0;
    color: #db8629;
  }

  .hb-hide-for-small-only {
    display: none;
  }

  .hb-show-for-small-only {
    display: block;
  }
}
/***** Dozuki Override Styles *****/
a {
  color: #db8629;
}

a:visited,
a strong {
  color: #db8629;
}

div#banner {
  margin-bottom: 0;
}

img#banner-wrap-bg {
  display: none;
}

.banner-small-photo img {
  display: none;
}

div.banner-small-photo {
  width: 0;
}

div#banner-wrap {
  background: #fff;
  min-height: 0;
}

div.banner-content {
  background-image: none;
  min-height: 0;
}

h1.banner-title {
  color: #333;
  text-shadow: none;
}

div.banner-text {
  color: inherit;
  text-shadow: none;
}

div.banner-bucket.banner-summary {
  max-width: 90%;
  padding: 25px 0 10px;
}

.banner-content .action-buttons .button {
  background-color: #db8629;
}

.banner-content .action-buttons .button i {
  color: #fff;
}

h2.guideListTitle {
  display: none;
}

#footerBasic {
  display: none;
}




/*******************************************************************************
Small Device Styles
*******************************************************************************/

@media screen and (max-width: 480px) {
  body {
    font-size:14px;
  }

  #downloads {
    display: none;
  }

  .inner {
    min-width: 320px;
    max-width: 480px;
  }

  #project_title {
  font-size: 32px;
  }

  h1 {
    font-size: 28px;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 21px;
  }

  h4 {
    font-size: 18px;
  }

  h5 {
    font-size: 14px;
  }

  h6 {
    font-size: 12px;
  }

  code, pre {
    min-width: 320px;
    max-width: 480px;
    font-size: 11px;
  }

}
